<ion-view view-title="Appointments">
  <ion-content>

      <label class="item item-input item-select">
        <div class="input-label">
          Sort By
        </div>
        <select>
          <option>Least Recent</option>
          <option selected>Most Recent</option>
          <option>Priority</option>
          <option>Alphabetical Order</option>
        </select>
      </label>


    <ion-list>
      <ion-item class="item-text-wrap">
        <a class="item patient-info" href="#">
        <img class="notify-img" src="img/stable.png"/>
        <H2>Blah Blah</H2>
        <p>50 Nanyang Ave, 639798</p>
        <p>04:30 PM October 28</p>
      </a>
      </ion-item>

      <ion-item>
        <a class="item patient-info" href="#">
        <img class="notify-img" src="img/stable.png"/>
        <H2>Blah Blah</H2>
        <p>50 Nanyang Ave, 639798</p>
        <p>04:30 PM October 28</p>
      </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
