<ion-pane>
    <div class="bar bar-header bar-assertive bar-relative">
      <h1 class="title">HospitaLink</h1>
    </div>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Log in as a
        </div>
        <select>
          <option selected>Doctor</option>
          <option>Nurse</option>
          <option>Family Member</option>
        </select>
      </label>

      </div>

      <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Enter your ID">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Password">
        </label>
      </div>

      <button class="button button-block button-assertive" ng-click="login()">Log in</button>
</ion-pane>
