<ion-view view-title="Patient List">
  <ion-content>

      <label class="item item-input item-select">
        <div class="input-label">
          Sort By
        </div>
        <select>
          <option>Least Recent</option>
          <option selected>Most Recent</option>
          <option>Priority</option>
          <option>Alphabetical Order</option>
        </select>
      </label>


    <ion-list>
      <ion-item>
        <a class="item patient-info" href="#">
        <img class="notify-img" src="img/stable.png"/>
        <H2>Blah Blah</H2>
        <h3>Comment by blah blah more more moremo re mroemro meorm </h3>
        <h3 class="float-right">09:02 AM</h3>
      </a>
      </ion-item>

      <ion-item>
        <a class="item patient-info" href="#">
        <img class="notify-img" src="img/stable.png"/>
        <H2>Blah Blah</H2>
        <h3>Comment by blah blah more more moremo re mroemro meorm </h3>
        <h3 class="float-right">09:02 AM</h3>
      </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
