<ion-view view-title="Profile">
  <ion-content>

    <div class="outer-box">
      <h4>Dr Chan Yee Cheun</h4>
      <hr class="grey-line"/>
      <div class="profile-line">
        <div class="row">
          <div class="col col-33">
            <p class="grey-desc">Contact Number</p>
          </div>
          <div class="col">
            <p>(65) 6777 2000</p>
          </div>
        </div>
        <hr class="grey-line"/>
      </div>

      <div class="profile-line">
        <div class="row">
          <div class="col col-33">
            <p class="grey-desc">Email</p>
          </div>
          <div class="col">
            <p>hand_enquiries@nuhs.edu.sg</p>
          </div>
        </div>
        <hr class="grey-line"/>
      </div>

      <div class="profile-line">
        <div class="row">
          <div class="col col-33">
            <p class="grey-desc">Designation</p>
          </div>
          <div class="col">
            <p>Senior Consultant, Division of Neurology</p>
          </div>
        </div>
        <hr class="grey-line"/>
      </div>

      <div class="profile-line">
        <div class="row">
          <div class="col col-33">
            <p class="grey-desc">Speciality</p>
          </div>
          <div class="col">
            <p>University Medicine Cluster</p>
          </div>
        </div>
        <hr class="grey-line"/>
      </div>

      <div class="profile-line">
        <div class="row">
          <div class="col col-33">
            <p class="grey-desc">Department</p>
          </div>
          <div class="col">
            <p>Neurology</p>
          </div>
        </div>
        <hr class="grey-line"/>
      </div>
      <div>
        Dr Chan Yee Cheun graduated from the National University Singapore in 1992. He obtained the membership of Royal College Physicians (UK) in 1999 and neurology specialist accreditation in year 2002. Between 2003 and 2004, he was a clinical fellow in clinical neurophysiology at King’s College Hospital, London.
      </div>
    </div>








  </ion-content>
</ion-view>
