<ion-view view-title="Settings">
  <ion-content>
    <div class="outer-box-small">
      <h4>Notifications</h4>

      <div class="row">
        <div class="col col-33 margin-top-5">
          Critical
        </div>
        <div class="col col-67">
          <label class="item item-select">
            <select>
              <option selected>Ring</option>
              <option>Song</option>
              <option>Vibration</option>
              <option>Nothing</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col col-33">
          Unstable
        </div>
        <div class="col col-67">
          <label class="item item-select">
            <select>
              <option>Ring</option>
              <option selected>Song</option>
              <option>Vibration</option>
              <option>Nothing</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col col-33">
          Stabilising
        </div>
        <div class="col col-67">
          <label class="item item-select">
            <select>
              <option>Ring</option>
              <option>Song</option>
              <option selected>Vibration</option>
              <option>Nothing</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col col-33">
          Stable
        </div>
        <div class="col col-67">
          <label class="item item-select">
            <select>
              <option>Ring</option>
              <option>Song</option>
              <option>Vibration</option>
              <option selected>Nothing</option>
            </select>
          </label>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
